<li>
	{{name}}

	<button class="change-eatburg" data-id="{{id}}" data-eatBurg="{{eat}}">
		{{#if eat}}Devoured!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
